/* colores used in design */
:root
{
    --main-title:#f00;
    --main-text:#023A71;
    --subtext:#AAB2BA;
}

/* font used in design */
@font-face {
    font-family: "typesetting";
    src: url(../webfonts/Arabic\ Typesetting\ Regular.ttf);
}
/* @font-face {
    font-family: "times-new-roman";
    src: url(../webfonts/times\ new\ roman.ttf);
} */
/* start general style */
*
{
    font-family: "typesetting";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}
.mainTitle
{
    color:var(--main-title,#f00)
}
.mainText
{
    color:var(--main-text,#023A71)
}
.subtext
{
    color:var(--subtext,#AAB2BA)
}

::placeholder 
{ 
    color: var(--subtext , #AAB2BA);
    opacity: 0.5 !important;
    font-size:1.3rem;
    padding-right: 20px;
}
.shadow
{
    box-shadow: 0px 3px 6px #AAB2BA;
}
/* end general style */


/* start login page header */

.programLogo img , .FacultyLogo img
{
    width:75%;
}

/* end login page header */

/* start login form */
.login h3
{
    font-size: 3rem;
    margin-bottom: 20px;
}
.loginInputField
{

    border-radius: 30px;  
    margin-top: 15px;
    padding: 15px;
}

.btn-1
{
    background-color: var(--main-text,#023A71);
    margin-top: 30px;
    border: 1px solid transparent;
    border-radius: 35px;  
    padding: 10px;  
    font-size: 1.5rem;
}
/* end login form */

/* start footer */
.footer
{
    background-color: var(--main-text , #023A71);
}
.footer span
{
    color: var(--subtext , #AAB2BA);
    font-size: 1.2rem;
}
.footer a
{
    text-decoration: none;
    color: var(--main-title , #f00);
    font-size: 1.4rem;
}
.bisLogo
{
    width:35px;
    height:35px;
    background-color: #fff;
    border-radius: 50%;
}

.bisLogo img
{
    width:100%;
    border-radius: 50%;
}
/* end footer */

/*start navbar*/
.nav-link
{
    color:var(--main-text,#023A71);
}

.linkStyle
{
    color:var(--main-text,#023A71);
    text-align: center;
    width:150px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 3px 6px #AAB2BA;
    margin-left: 15px;

}
.clickedLinkStyle
{
    text-align: center;
    width:150px;
    background: #fff;
    margin-left: 15px;
    color:#000;
    border-radius: 4px 0px 0px 0px;
    box-shadow:inset 3px 3px 6px rgba(0, 0, 0, 0.2);
}
/*end navbar*/

/*start background of body */
.body
{
    background-image: url(../images/Facultylogo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.bodyCover
{
    width:100%;
    height:100vh;
    background-color: #fff;
    opacity: 0.7;
    position: fixed;
    top:0;
    bottom:0;
    z-index: -9999;
}
/*start background of body */

/* start addMemberButton and Search in members Page */
.addMemberBtn , .addPenaltyBtn , .addSecondmentBtn ,.addVacationBtn , .updateJobGradeBtn , .CompleteDataBtn
{
    background-color:var(--main-text,#023A71); 
    color:#fff;
    font-size: 1.5rem;
    box-shadow: 0px 3px 6px #AAB2BA;

}
.searchField
{
    box-shadow: 0px 3px 6px #AAB2BA;
}

.member
{
    box-shadow:0px 3px 6px #AAB2BA;
    cursor: pointer;
}

.plusIcon
{
    background-color: #fff;
    width:150px;
    height: 150px;
    box-shadow:0px 3px 6px #AAB2BA;
}
/* end addMemberButton and Search in members Page*/

/* start add member page */
.dataContainer
{
    box-shadow: 0px 3px 6px #AAB2BA;
    border-radius: 6px;
    background-color: #fff;
}
.dataContainer input , .dataContainer select
{
    font-size: 1.3rem;
}
.dataContainer textarea
{
    resize: none;
}
.profilePicture
{
    width:150px;
    height: 150px;
    border-radius: 50%;
    box-shadow:0px 3px 6px #AAB2BA;
    position: relative;
}
.imageSelection
{
    width:25px;
    height:25px;
    border-radius: 50%;
    box-shadow:0px 3px 6px #AAB2BA;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom:0;
    right:0;  
}

/* end add member page */

/* start sidebar */
.sidebarButton
{
    width:35px;
    height:45px;
    background-color:var(--main-text,#023A71); 
    border-radius: 10px 0px 0px 10px;
    position: absolute;
    top: 0;
    right:100%;

}
.sidebar
{
    width: 100%;
    height: 75vh;
    background-color:var(--main-text,#023A71); 
    position: relative;
    top:0;
    right:-100%;
}

.line
{
    width:90%;
    height: 1px;
    background-color: #AAB2BA;
    opacity: 0.2;
    margin: 0 auto;
}
.sidebarContainer
{
    width:20%;
    top:30vh;
    bottom:0;
}
.sidebarIcon
{
    width:50px;
}
/*end start sidebar */

/* start button to up */
.btnToUp
{
    width:35px;
    height:35px;
    border-radius: 50%;
    background-color:var(--main-text,#023a71); 
    position:fixed;
    bottom:12%;
    right:5%;
    z-index: 99999;
    display: none;
}
/* end button to up */

/* start home page */
.function
{
    background:linear-gradient(to top,rgba(2, 58, 113,0.9) 25%,rgba(2, 58, 113,0.5) );
    border-radius: 8px;
    box-shadow:0px 3px 6px #AAB2BA;
    padding:30px 10px;
}
.function a 
{
    color:#fff;
    
}
.fixedFooter
{
    z-index: -1;
}
/* end home page */

/* start statement page */
.statement
{
    border: thick double #000;
    background-color: #fff;
}
#statementBtn
{
    background-color:var(--main-text,#023A71); 
    color:#fff;
    font-size: 1.5rem;
    box-shadow: 0px 3px 6px #AAB2BA;
    padding:10px 20px;
    font-weight: 600;
}
/* end statement page */

.memberData
{
    border-left: 3px solid rgba(170, 178, 186,0.5) ;
}