@font-face {
    font-family: "typesetting";
    src: url(../webfonts/Arabic\ Typesetting\ Regular.ttf);
}
*
{
    font-family: "typesetting";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}